.contactFormInput {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #687351; /* Gray border */
    background-color: #c0caab;
    color:#687351;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 16px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
  }
  
  .btn {
    background-color: #687351;
    ;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }