.introContainer {
    padding: 2rem;
  }
  .introTitle {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .introName {
    font-size: 55px;
    font-family: "abril-fatface";
    font-weight: 700;
    color: var(--color-primary-dark);
    line-height: 90%;
  }
  
  .introText {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .subHeading {
    font-weight: 300;
    font-size: 1.5rem;
    width: 40ch;
  }
  
  .icons {
    font-size: 2rem;
    gap: 1px;
    color: var(--color-primary);
  }
  
  .icons a {
    color: var(--color-primary);
    transition: var(--transition-time);
  }
  
  .heroIcon {
    margin-left: 1rem;
  }