* {

  box-sizing: border-box;


  --color-primary-dark: #c8222a;
  --color-primary: #1d3557;
  --color-primary1: #f1faee;
  --color-primary2: #a8dadc;
  --color-primary3: #a8dadc;
  --color-primary4: white;

  padding: 3px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary4);
}

/* utility */
.sectionLabel {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--color-primary);
  line-height: 0em;
  font-size: 2rem;

}
.sectionLabel span {
  background-color: var(--color-primary4);
  padding: 0 0.5em;
  color: var(--color-primary);
}

.inverted {
  background-color: var(--color-primary);
  color: white;
}

@viewport {width: device-width;}
