nav {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    transition: var(--transition-time);
  }
  
  .navLinks {
    cursor: pointer;
    margin-right: 10%;
    font-size: 20px;
    color: var(--color-primary-dark);
    transition: var(--transition-time);
  }
  
  .link {
    margin-left: 15px;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
    position: relative;
    transition: var(--transition-time);
  }
  
  .link:hover {
    color: var(--color-primary-dark);
  }